@import "./icons.scss";

// Dark Theme
// @import "./bootstrap-dark.scss";
// @import "./app-dark.scss";

// Light Theme
@import "./bootstrap.scss";
@import "./app.scss";

// rtl Direction
// @import "./custom/rtl/general-rtl";
// @import "./custom/rtl/bootstrap-rtl";
// @import "./custom/rtl/spacing-rtl";
// @import "./custom/rtl/float-rtl";
// @import "./custom/rtl/text-rtl";
// @import "./custom/rtl/structure-rtl";
// @import "./custom/rtl/plugins-rtl";
// @import "./custom/rtl/components-rtl";
// @import "./custom/rtl/pages-rtl";


body {
  * {
    outline: none;
  }
}


//Login CSS
.accessSpace{
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.leftColAccess{
  width: 60vw;
  height: 100vh;
  background-image: url("../images/login.jpg");
  background-position: center;
  background-size: cover;
}



.rightColAccess{
  width: 40vw;
  height: 100vh;
}

.rightColAccess > div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column¡;
}


@media only screen and (max-width: 767px) {
  .leftColAccess{
    display: none;
  }
  .rightColAccess{
    width: 100vw;
  }
}

.w-full{
  width: 100%;
}

.close {
  background: transparent;
  border: 0;
  font-size: 10px;
  padding: 1.35rem 1.25rem;
  background: transparent escape-svg($btn-close-bg) center / $btn-close-width
    auto no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  width: 1em;
  height: 1em;
  z-index: 2;
  span {
    display: none;
  }
}

