// 
// authentication.scss
//
.bg-pattern {
    // background-image: url("../images/bg.jpg");
    background-image: url("../../../images/bg.jpg");
    background-size: cover;
    background-position: center;
}

.auth-logo {

    width: 50%;
    &.logo-light {
        display: $display-none !important;
    }

    &.logo-dark {
        display: $display-block !important;
    }
    
}

@media only screen and (max-width: 600px) {
    .auth-logo{
        width: 70%;       
    }
}